@import "utopia";

:root {
  // Developers can override this to set globals

  // Breakpoints
  --breakpoint--mobile: "(min-width: 320px)";
  --breakpoint--tablet: "(min-width: 768px)";
  --breakpoint--desktop: "(min-width: 1024px)";

  // Colors
  --ojp-color--gray: #BABABA;

}

// ojp-row vars

ojp-row {
  // Number of columns - device specific
  --ojp-row--mcols: 12;
  --ojp-row--tcols: 12;
  --ojp-row--dcols: 12;
  // --ojp-row--cols set to mcols/tcols/dcols per device size
  // Mobile
  --ojp-row--cols: var(--ojp-row--mcols);

}

// Tablet
@supports (--breakpoint("tablet")) {
  ojp-row {
    --ojp-row--cols: var(--ojp-row--tcols);
  }
}
// Desktop
@supports (--breakpoint("desktop")) {
  ojp-row {
    --ojp-row--cols: var(--ojp-row--dcols);
  }
}


// end ojp-row vars

// ojp-col vars

ojp-col {
  // Column Span - device specific
  --ojp-col--mspan: auto;
  --ojp-col--tspan: auto;
  --ojp-col--dspan: auto;
  --ojp-col--span: var(--ojp-col--mspan);

  // Column start - device specific
  --ojp-col--mstart: auto;
  --ojp-col--tstart: auto;
  --ojp-col--dstart: auto;
  --ojp-col--start: var(--ojp-col--mstart);
}

// Tablet
@supports (--breakpoint("tablet")) {
  ojp-col {
    --ojp-col--span: var(--ojp-col--tspan);
    --ojp-col--start: var(--ojp-col--tstart);
  }
}
// Desktop
@supports (--breakpoint("desktop")) {
  ojp-col {
    --ojp-col--span: var(--ojp-col--dspan);
    --ojp-col--start: var(--ojp-col--dstart);
  }
}

// end ojp-col vars


// ojp-accordion-item vars
ojp-accordion-item {
  --ojp-accordion-item--icon-stroke-width: 3px;
  --ojp-accordion-item--max-content-width: 100%;
}
// Tablet
@supports (--breakpoint("tablet")) {
  ojp-accordion-item {
    --ojp-accordion-item--icon-stroke-width: 2px;
    --ojp-accordion-item--max-content-width: 100%;
  }
}
// Desktop
@supports (--breakpoint("desktop")) {
  ojp-accordion-item {
    --ojp-accordion-item--icon-stroke-width: 2px;
    --ojp-accordion-item--max-content-width: 75%;
  }
}

// end ojp-accordion-item vars


// ojp-modal variables
ojp-modal {
  --ojp-modal--padding-inline: var(--space-s-3xl); // Public
  --ojp-modal--padding-top-bottom: var(--space-2xl); // Public
  --ojp-modal--close-icon-margin: var(--space-s-m); // Public
  --ojp-modal--outer-horizontal-padding: 0; // Public
  --ojp-modal--outer-vertical-padding: 0; // Public
  --ojp-modal--panel-border-radius: 0; // Public
  --ojp-modal--panel-color: #fff; // Public
  --ojp-modal--close-icon-height: 44px; // Public
  --ojp-modal--close-icon-width: 44px; // Public
  --ojp-modal--overlay-color: rgba(0, 0, 0, 0.6); // Public
  --ojp-modal--overflow-gradient: linear-gradient(180deg, #FFFFFF 57.88%, rgba(255, 255, 255, 0) 99.99%);


  // ---- Private variables. Users should not change ----
  --ojp-modal--max-content-width: 100%;
  --ojp-modal--panel-grid-area: 1/1/4/4;
  --ojp-modal--close-grid-area--inside: 1/3/2/4;
}

// tablet and up
@supports (--breakpoint("tablet")) {
  ojp-modal {
    --ojp-modal--outer-horizontal-padding: var(--space-s-3xl);
    --ojp-modal--outer-vertical-padding: var(--space-l-xl);
    --ojp-modal--max-content-width: 80%;
    --ojp-modal--padding-inline: var(--space-xl-2xl);
    --ojp-modal--padding-top-bottom: var(--space-xl-2xl);
    --ojp-modal--panel-grid-area: 3/2/4/3;
    --ojp-modal--panel-border-radius: 15px;
    --ojp-modal--close-grid-area--inside: 3/2/4/3;
  }
}

// end ojp-modal variables





