:root {
  // Developers can override this to set globals

  // Breakpoints
  --breakpoint--mobile: "(min-width: 320px)";
  --breakpoint--tablet: "(min-width: 768px)";
  --breakpoint--desktop: "(min-width: 1024px)";

  // Colors
  --ojp-color--gray: #BABABA;
  
}

// ojp-row vars

ojp-row {
  // Number of columns - device specific
  --ojp-row--mcols: 12;
  --ojp-row--tcols: 12;
  --ojp-row--dcols: 12;
  // --ojp-row--cols set to mcols/tcols/dcols per device size
  // Mobile
  --ojp-row--cols: var(--ojp-row--mcols);

  // Minimum gutter width
  --ojp-row--gutter: 20px;
}

// Tablet 
@supports (--breakpoint("tablet")) {
  ojp-row {
    --ojp-row--cols: var(--ojp-row--tcols);
    --ojp-row--gutter: 50px;
  }
}
// Desktop
@supports (--breakpoint("desktop")) {
  ojp-row {
    --ojp-row--cols: var(--ojp-row--dcols);
    --ojp-row--gutter: 100px;
  }
}


// end ojp-row vars

// ojp-col vars

ojp-col {
  // Column Span - device specific
  --ojp-col--mspan: auto;
  --ojp-col--tspan: auto;
  --ojp-col--dspan: auto;
  --ojp-col--span: var(--ojp-col--mspan);

  // Column start - device specific
  --ojp-col--mstart: auto;
  --ojp-col--tstart: auto;
  --ojp-col--dstart: auto;
  --ojp-col--start: var(--ojp-col--mstart);
}

// Tablet 
@supports (--breakpoint("tablet")) {
  ojp-col {
    --ojp-col--span: var(--ojp-col--tspan);
    --ojp-col--start: var(--ojp-col--tstart);
  }
}
// Desktop
@supports (--breakpoint("desktop")) {
  ojp-col {
    --ojp-col--span: var(--ojp-col--dspan);
    --ojp-col--start: var(--ojp-col--dstart);
  }
}

// end ojp-col vars


// ojp-accordion-item vars
ojp-accordion-item {
  --ojp-accordion-item-icon-scale: .5;
}
// Desktop
@supports (--breakpoint("desktop")) {
  ojp-accordion-item {
    --ojp-accordion-item-icon-scale: 1;
  }
}
// end ojp-accordion-item vars