
:host {

  // PUBLIC CSS VALUES - can be overwritten by end user
  // likely to be persistent across a project and/or
  // easier to set as css vars so they can use Utopia
  // 

  // L/R padding on accordion item (header and panel)
  --ojp-accordion-item--padding-inline: 40px; 
  // Top/bottom padding on accordion item header
  --ojp-accordion-item--header-padding-block: 40px;
  // Top/bottom padding on accordion item panel
  --ojp-accordion-item--panel-padding-block: 10px;

  // Opacity of header on hover
  --ojp-accordion-item--hover-opacity: .5;
  // Animation speed of accordion item toggle
  // (panel height, opacity & icon rotate)
  --ojp-accordion-item--animation-speed: .35s;

  // TODO: Do we need this?
  --ojp-accordion-item--max-content-width: 75%;

  // Defined in global.scss:
  //// Caret/icon scaling
  // --ojp-accordion-item-icon-scale

  border-bottom: 1px solid var(--ojp-color--gray);
  display: block;
  padding-block: var(--ojp-accordion-item--header-padding-block);
  text-decoration: none;


}

.ojp-accordion-item__trigger {
  color: currentColor;
  display: block;
  margin: 0;
  position: relative;
  text-align: left;
  text-decoration: none;
  // transition: opacity .2s ease;

  padding-inline: var(--ojp-accordion-item--padding-inline);
  opacity: 1;

  &:hover, &:active {
    cursor: pointer;
    opacity: var(--ojp-accordion-item--hover-opacity);
  }
}

.ojp-accordion-item__header {
  display: flex;
  justify-content: space-between;

}
// Caret 
.ojp-accordion-item__header__icon-wrapper {
  align-items: center;
  display: flex;
  padding-left: var(--ojp-accordion-item--padding-inline);
}
.ojp-accordion-item__header__icon {
  transform: rotate(180deg) scale(var(--ojp-accordion-item-icon-scale));
  transition: transform var(--ojp-accordion-item--animation-speed) ease;
  
}

// Rotate icon when opening accordion item
.ojp-accordion-item__trigger[aria-expanded="true"] .ojp-accordion-item__header__icon {
  transform: rotate(0deg) scale(var(--ojp-accordion-item-icon-scale));
}

.ojp-accordion-item__panel {
  overflow: hidden;
  transition: height var(--ojp-accordion-item--animation-speed) ease;  
  padding-inline: var(--ojp-accordion-item--padding-inline);
  // margin-block: var(--ojp-accordion-item--panel-padding-block)
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.ojp-accordion-item__panel[hidden] {
  display: none;
}

::slotted( [slot="panel"] ) { 
  padding-block: var(--ojp-accordion-item--panel-padding-block);
}