:host {

    // PROPS - can be overwritten with props b/c
  // likely to be different per component

  // Column Span - device specific
  --ojp-col--mspan: auto;
  --ojp-col--tspan: auto;
  --ojp-col--dspan: auto;
  
  // --ojp-col--span set to mspan/tspan/dspan per device size
  // Mobile
  --ojp-col--span: var(--ojp-col--mspan);

  // Tablet 
  @supports (--breakpoint("tablet")) {
    --ojp-col--span: var(--ojp-col--tspan);
  }
  // Desktop
  @supports (--breakpoint("desktop")) {
    --ojp-col--span: var(--ojp-col--dspan);
  }

  // Column start - device specific
  --ojp-col--mstart: auto;
  --ojp-col--tstart: auto;
  --ojp-col--dstart: auto;
  
  // --ojp-col--start set to mstart/tstart/dstart per device size
  // Mobile
  --ojp-col--start: var(--ojp-col--mstart);

  // Tablet 
  @supports (--breakpoint("tablet")) {
    --ojp-col--start: var(--ojp-col--tstart);
  }
  // Desktop
  @supports (--breakpoint("desktop")) {
    --ojp-col--start: var(--ojp-col--dstart);
  }

  grid-column-start: var(--ojp-col--start);
  grid-column-end: span var(--ojp-col--span);


  // On nested rows, we don't want the gutters
  ::slotted(ojp-row) {
    grid-template-columns: repeat(var(--ojp-row--cols), 1fr);
  }

}
