:host {

  /**
    * Component css variables are commented but NOT DEFINED here. They are defined in
    * the component's global scss file (e.g. src/global/components/_ojp-image.scss)
    * so that they can be used by other components and use globally set breakpoints.
    *
    **** NOTE: The @prop comments are necessary here because they will be picked up
    **** by Stencil's docs auto-generator and output to the component's docs at
    **** docs/components/<component-name>/readme.md
    ****
    **** Any comment changes here should be duplicated into the component's global scss file
    **** (e.g. src/global/components/_ojp-image.scss)
   */

  /**
   * @prop --ojp-card-grid--columns: Number of columns in card grid. Use media queries to change this value at different breakpoints. Defaults to mobile - 1, tablet - 2, desktop - 3.
  */
  /**
   * @prop --ojp-card-grid--col-gap:
  */
  /**
   * @prop --ojp-card-grid--row-gap:
  */

  .grid {
    column-gap: var(--ojp-card-grid--col-gap, 10px);
    display: grid;
    grid-template-columns: repeat(var(--ojp-card-grid--columns, 1), 1fr);
    position:relative;
    row-gap: var(--ojp-card-grid--row-gap, 10px);
  }
}
