/**
  * Component css variables are defined here and imported to the global.scss file
  * so that they can be used by other components and use globally set breakpoints
  *
  **** NOTE!: The @prop comments must be duplicated into the the component's scss file
  **** (e.g. src/components/ojp-image/ojp-image.scss) so that they will be picked up
  **** by Stencil's docs auto-generator.
  ****
  **** Comments in this file will NOT be picked up by the docs generator and are here for
  **** developer reference only. Any changes here should be duplicated into the component's
  **** scss file.
 */

ojp-navigation-item {

  // PUBLIC CSS VARIABLES
  /**
    * @prop --ojp-navigation-item--vertical-link-padding: Link top/bottom padding. Defaults to `--space-s`
  */
  --ojp-navigation-item--vertical-link-padding: #{var(--space-s)};

  /**
    * @prop --ojp-navigation-item--horizontal-link-padding: Link left/right padding. Defaults to `--space-s`
  */
  --ojp-navigation-item--horizontal-link-padding: #{var(--space-s)};

  /**
    * @prop --ojp-navigation-item--font-size: Nav item font size. Defaults to `--step-3` at mobile and `--step-2` at desktop
  */
  --ojp-navigation-item--font-size: #{var(--step-3)};

  /**
    * @prop --ojp-navigation-item--link-hover-color: Link hover color. Defaults to `black`
  */
  --ojp-navigation-item--link-hover-color: black;

  // PRIVATE VARIABLES
  /**
     * Private Variable - set by JS according to props
     * --ojp-navigation-item--example-private-var: Description of this variable. Defaults to X.
    */
}

// Desktop
@supports (--breakpoint("desktop")) {
  ojp-navigation-item {
    --ojp-navigation-item--font-size: #{var(--step-2)};
  }
}


