:host {
  // Overlay color with opacity
  --ojp-modal--overlay-color: rgba(0, 0, 0, 0.6);
  display: block;
  font-family: sans-serif;
}


.ojp-modal-wrapper {
  bottom: 0;
  display: grid;
  // Custom modification option example
  // grid-template-columns: var(--space-s-3xl) 1fr var(--space-s-3xl);
  // grid-template-columns: var(--space-4xl) 1fr var(--space-4xl);
  grid-template-columns: var(--ojp-modal--outer-padding) 1fr var(--ojp-modal--outer-padding);
  grid-template-rows: max-content var(--space-xl) 1fr 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s, transform 0.2s;
  visibility: hidden;
  width: 100%;
  z-index: 10;

  @supports (--breakpoint("mobile")) {
    grid-template-rows: max-content var(--space-2xl) 1fr var(--space-2xl);
  }
}

.ojp-modal-overlay {
  background-color: var(--ojp-modal--overlay-color);
  grid-area: 1/1/5/4;
  height: 100%;
  width: 100%;
}

// Modal panel
.ojp-modal-wrapper .ojp-modal-panel {
  background-color: white;
  border-radius: var(--ojp-modal--panel-border-radius);
  grid-area: var(--ojp-modal--panel-grid-area);
  height: auto;
  overflow-y: auto;
  padding-top: var(--ojp-modal--padding-top-bottom);
  padding-bottom: var(--ojp-modal--padding-top-bottom);
  padding-left: var(--ojp-modal--padding-inline);
  padding-right: var(--ojp-modal--padding-inline);
  position: relative;
  transition: visibility 0.2s linear 0.2s, opacity 0.2s, transform 0.2s;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.ojp-modal-wrapper .ojp-modal-panel::-webkit-scrollbar {
  display: none;
}


::slotted([slot="content"]) {
  max-width: var(--ojp-modal--max-content-width);
  margin: 0 auto;
}

::slotted([slot="content"]):before {
  content: '';
  width: 100%;
  height: var(--space-l-xl);
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #FF0000 57.88%, rgba(255, 255, 255, 0) 99.99%);
}

// Close button
div>div.ojp-modal-close {
  align-items: flex-start;
  display: inline-flex;
  grid-area: var(--ojp-modal--close-grid-area);
  justify-content: flex-end;
  margin-right: var(--ojp-modal--close-icon-margin);
  margin-top: var(--ojp-modal--close-icon-margin);
  z-index: 12;
}

// Reset close button styling
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

::slotted([slot="close-icon"]) {
  cursor: pointer;
  height: var(--ojp-modal--close-icon-height);
  width: var(--ojp-modal--close-icon-width);
}

.ojp-modal-wrapper .ojp-modal-close .close-button {
  transition: visibility 0.2s linear 0.2s, opacity 0.2s, transform 0.2s;
}

.ojp-modal-wrapper .ojp-modal-close .close-button:focus {
  border: 3px dashed hotpink;
}

// Fade css class
// Fade background CSS
.modal-fade {
  background: linear-gradient(180deg, #FFFFFF 57.88%, rgba(255, 255, 255, 0) 99.99%);
}


// Active open modal styles
.is-open {
  opacity: 1;
  visibility: visible;
  transition: visibility 0.2s linear 0.2s, opacity 0.2s, transform 0.2s;
}

// Close button inside modal panel
.close-button--inside {
  --ojp-modal--close-grid-area: var(--ojp-modal--close-grid-area--inside);
}


// Close button outside modal panel
.close-button--outside {
  --ojp-modal--close-grid-area: 1/3/2/4;
}


// Noscroll class
.noscroll {
  overflow: hidden;
}
